apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: minecraft-backups
  namespace: {{ .Release.Namespace }}
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project:  {{ .Values.project }}
  destination:
    namespace: {{ .Values.destination.namespace }}
    server: {{ .Values.destination.server }}
  sources:
    - path: argocd/additions/backups
      targetRevision: {{ .Values.minecraft_branch }}
      repoURL:  {{ .Values.minecraft_remote }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - preserveResourcesOnDeletion=true
