# create a retained storage class for backups
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  annotations:
    longhorn.io/last-applied-configmap: |
      kind: StorageClass
      apiVersion: storage.k8s.io/v1
      metadata:
        name: longhorn
        annotations:
          storageclass.kubernetes.io/is-default-class: "true"
      provisioner: driver.longhorn.io
      allowVolumeExpansion: true
      reclaimPolicy: "Delete"
      volumeBindingMode: Immediate
      parameters:
        numberOfReplicas: "3"
        staleReplicaTimeout: "30"
        fromBackup: ""
        fsType: "ext4"
        dataLocality: "disabled"
        unmapMarkSnapChainRemoved: "ignored"
        disableRevisionCounter: "true"
        dataEngine: "v1"
    storageclass.kubernetes.io/is-default-class: "true"
  creationTimestamp: "2025-02-23T09:53:35Z"
  name: longhorn-retained
  resourceVersion: "3475"
  uid: e2b517aa-47fa-4abd-88fa-fcf374c51298
parameters:
  dataEngine: v1
  dataLocality: disabled
  disableRevisionCounter: "true"
  fromBackup: ""
  fsType: ext4
  numberOfReplicas: "3"
  staleReplicaTimeout: "30"
  unmapMarkSnapChainRemoved: ignored
provisioner: driver.longhorn.io
reclaimPolicy: Retain
volumeBindingMode: Immediate
---

# create a longhorn PVC for backups
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minecraft-backup
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: longhorn-retained
  volumeMode: Filesystem

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: minecraft-backup
spec:
  selector:
    matchLabels:
      app: minecraft-backup
  template:
    metadata:
      labels:
        app: minecraft-backup
    spec:
      containers:
        - name: busybox
          image: busybox:latest
          command:
            - sleep
            - "Infinity"
          volumeMounts:
            - name: minecraft-backup
              mountPath: /data
          resources:
            requests:
              cpu: 10m
              memory: 10Mi
            limits:
              cpu: 50m
              memory: 50Mi
      volumes:
        - name: minecraft-backup
          persistentVolumeClaim:
            claimName: minecraft-backup
