{{ $currentScope := .}}
{{- range $name := .Values.minecraft_servers }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: minecraft-server-{{ $name }}
  namespace: {{ $.Release.Namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ $.Values.project }}
  destination:
    namespace: {{ $.Values.destination.namespace }}
    server: {{ $.Values.destination.server }}
  source:
    repoURL: https://itzg.github.io/minecraft-server-charts/
    chart: minecraft
    targetRevision: 4.23.7
    helm:
      valuesObject:
        # https://artifacthub.io/packages/helm/minecraft-server-charts/minecraft?modal=values
        {{- with $currentScope -}}
        {{ .Files.Get (printf "servers/%s.yaml" $name) | toYaml | nindent 8 }}
        {{- end }}
        minecraftServer.eula: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      # don't restart pods unless there has been a change
      - ApplyOutOfSyncOnly=true
      - RespectIgnoreDifferences=true
      - CreateNamespace=true
---
{{- end -}}
